<!-- <div id="dialog" class="opened">
  <div class="header" type={{message.type}}>{{message$.header}}</div>
  <div class="message">
    <p class="innerText">{{message$.message}}</p>
    <button id="confirmButton" class="matButton" ng-show="showButtonConfirm">OK</button>
    <button id="cancelButton" class="matButton" ng-show="showCancelButton">Cancel</button>
  </div>
</div> -->

<div id="dialog" class="opened">
  <div class="header" type=none>Hello, world!</div>
  <div class="message">
    <p class="innerText"></p>
    <button id="confirmButton" class="matButton" ng-show="showButtonConfirm">OK</button>
    <button id="cancelButton" class="matButton" ng-show="showCancelButton">Cancel</button>
  </div>
</div>