div#fab{
    width:4rem;
    height:4rem;
    background-color:orange;
    border-radius:50px;
    
    position:relative;
    display:flex;
    justify-content: center;
    i{
        color:white;
        font-size:3rem;
        margin-top:.5rem;
        position:absolute;
        z-index:3;
    }
}

div#fab::after{
    content:'';
    width:4rem;
    height:4rem;
    border-radius:50px;
    opacity:0;
    transition:opacity ease-in-out 125ms;
    -webkit-transition: opacity ease-in-out 125ms;
    -moz-transition:opacity ease-in-out 125ms;
    background-color:black;
}


div#fab:hover::after{
    opacity:.2;
    box-shadow:0 3px 0 rgba(0,0,0,.3);
}